@using Nop.Plugin.Misc.LLT.Service
@model Nop.Plugin.Misc.LLT.Models.Tournament.TournamentListModel

@{
    Layout = "~/Plugins/Misc.LLT/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            Турниры
        </div>
    </div>
    <br/><br/>
    if (Model.Tournaments.Count > 0)
    {
        <table width="100%">
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Дата начала
                </td>
                <td>
                    Тип турнира
                </td>
            </tr>

            @foreach (var item in Model.Tournaments)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Tournament", "Tournament", new {tournamentId = item.Id})">@item.Name</a>
                    </td>
                    <td>
                        @Html.Label(item.StartDateString)
                    </td>
                    <td>
                        @Html.Label(EnumService.TournamentTypeString(item.Type))
                    </td>
                </tr>
            }           
        </table>
    }
}