@using Nop.Plugin.Misc.LLT.Enums
@model Nop.Plugin.Misc.LLT.Models.Player.PlayerModel

@{
    Html.AddScriptParts("~/Scripts/jquery.tmpl.min.js");
}
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)



<div id="player-edit">
    <div>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.FirstName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FirstName)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.MiddleName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.MiddleName)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.LastName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.LastName)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Gender):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.Gender, ((GenderType)Model.Gender).ToSelectList())
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.DateOfBirth):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.DateOfBirth)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Height):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Height)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Weight):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Weight)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Country):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.Country, ((Country)Model.Country).ToSelectList())
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.City):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.City)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Level):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.Level, ((PlayerLevel)Model.Level).ToSelectList())
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.ForehandRight):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ForehandRight)
                </td>
            </tr>
        </table>
    </div>
</div>