@using Nop.Plugin.Misc.LLT.Enums
@using Nop.Core.Infrastructure
@model Nop.Plugin.Misc.LLT.Models.Player.PlayerListModel
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = "Список игроков";
}
@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        Игроки
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table width="100%">
    <tr>
        <td class="adminTitle">
            Полное имя:
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.SearchFullName)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            Уровень:
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.SearchLevel, new SelectList(Enum.GetValues(typeof(PlayerLevel))))
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <input type="button" id="search-players" class="k-button" value="@T("Admin.Common.Search")" />
        </td>
    </tr>
</table>
<table class="adminContent">
    <tr>
        <td>
            <div id="players-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#players-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "PlayerAdmin"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "FirstName",
                                title: "Имя",
                                width: 150
                            }, {
                                field: "LastName",
                                title: "Фамилия",
                                width: 150
                            }, {
                                field: "DateOfBirthString",
                                title: "Дата рождения",
                                width: 150
                            }, {
                                field: "Country",
                                title: "Страна",
                                width: 150
                            }, {
                                field: "City",
                                title: "Город",
                                width: 150
                            }, {
                                field: "Level",
                                title: "Уровень",
                                width: 150
                            }, {
                                field: "Id",
                                title: "@T("Admin.Common.Edit")",
                                width: 100,
                                template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                            }
                        ]
                    });
                });
            </script>

            <script type="text/javascript">

                $(document).ready(function () {

                    $('#search-players').click(function () {
                        var grid = $('#players-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        return false;
                    });
                });

                $("#@Html.FieldIdFor(model => model.SearchFullName)").keydown(function (event) {
                    if (event.keyCode == 13) {
                        $("#search-players").click();
                        return false;
                    }
                });

                $("#@Html.FieldIdFor(model => model.SearchLevel)").keydown(function (event) {
                    if (event.keyCode == 13) {
                        $("#search-players").click();
                        return false;
                    }
                });

                function additionalData() {
                    var data = {
                        SearchFullName: $('#@Html.FieldIdFor(model => model.SearchFullName)').val(),
                        SearchLevel: $('#@Html.FieldIdFor(model => model.SearchLevel)').val()
                    };
                    addAntiForgeryToken(data);
                    return data;
                }

</script>
        </td>
    </tr>
</table>