@using Nop.Plugin.Misc.LLT.Service
@model Nop.Plugin.Misc.LLT.Models.Player.PlayerListModel

@{
    Layout = "~/Plugins/Misc.LLT/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            Игроки
        </div>
    </div>
    <br/><br/>
    if (Model.Players.Count > 0)
    {
        <table>
            <tr>
                <td>
                    Полное имя
                </td>
                <td>
                    Город
                </td>
                <td>
                    Пол
                </td>
            </tr>

            @foreach (var item in Model.Players)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Player", "Player", new {playerId = item.Id})">@item.FullName</a>
                    </td>
                    <td>
                        @Html.Label(item.City)
                    </td>
                    <td>
                        @Html.Label(EnumService.GenderTypeString(item.Gender))
                    </td>
                </tr>
            }           
        </table>
    }
}