@using Nop.Plugin.Misc.LLT.Service
@model Nop.Plugin.Misc.LLT.Models.Player.PlayerListModel

@{
    Layout = "~/Plugins/Misc.LLT/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <h1>Игроки</h1>
        </div>
    </div>
    <br/><br/>
    if (Model.Players.Count > 0)
    {
        <div class="llt-players">
            <table class="">
            <thead>
            <tr>
                <th>
                    Полное Имя
                </th>
                <th>
                    Уровень
                </th>
                <th>
                    Страна
                </th>
                <th>
                    Город
                </th>
                <th>
                    Пол
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Players)
            {
                <tr>
                    <td class="player-name">
                        <a href="@Url.Action("Player", "Player", new {playerId = item.Id})">@item.FullName</a>
                    </td>
                    <td>
                        @Html.Label(item.Level.ToString())
                    </td>
                    <td>
                        @Html.Label(item.CountryString)
                    </td>
                    <td>
                        @Html.Label(item.CityString)
                    </td>
                    <td>
                        @Html.Label(EnumService.GenderTypeString(item.Gender))
                    </td>
                </tr>
            }  
            </tbody>
            </table>         
        </div>
    }
}