@using Nop.Plugin.Misc.LLT.Service
@using Nop.Plugin.Misc.LLT.Extensions;
@model Nop.Plugin.Misc.LLT.Models.Player.PlayerDetailsModel

@{
    Layout = "~/Plugins/Misc.LLT/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <a href="@Url.RouteUrl("Plugin.Misc.LLT.ViewPlayers")">Вернуться к списку игроков</a>
        </div>
    </div>
    <div class="player-info container">
        <div class="row">
            <div class="section section-bio col-md-7">
                <div class="photo col-md-4">
                    <img src="~/Images/no-picture-man.png" alt="Player Photo" />
                </div>
                <div class="details col-md-8">
                    <div class="info-item name">
                        @Model.GeneralInfo.FullName
                    </div>
                    <div class="info-item">
                        <label>Рейтинг:&nbsp;</label>@Model.GeneralInfo.Ranking.CurrentRankingString
                    </div>
                    <div class="info-item">
                        <label>Лучший Рейтинг:&nbsp;</label>@Model.GeneralInfo.Ranking.BestRankingString
                    </div>
                    <div class="info-item">
                        <label>Лучший Результат:&nbsp;</label>Wimbledon Final 2016 @*@Model.GeneralInfo.BestResult*@
                    </div>
                    <br />
                    <div class="info-item">
                        <label>Пол:&nbsp;</label>@Model.GeneralInfo.GenderString
                    </div>
                    <div class="info-item">
                        <label>Возраст:&nbsp;</label>@Model.GeneralInfo.Age
                    </div>
                    <div class="info-item">
                        <label>Рост:&nbsp;</label>@Model.GeneralInfo.HeightString
                    </div>
                    <div class="info-item">
                        <label>Вес:&nbsp;</label>@Model.GeneralInfo.WeightString
                    </div>
                    <br />
                    <div class="info-item">
                        <label>Уровень:&nbsp;</label>@Model.GeneralInfo.LevelString
                    </div>
                    <div class="info-item">
                        <label>Форхенд:&nbsp;</label>@Model.GeneralInfo.ForehandRightString
                    </div>
                    <div class="info-item">
                        <label>Место проживания:&nbsp;</label>@Model.GeneralInfo.LivingPlace
                    </div>
                    <br />
                    <div class="info-item">
                        <label>Статистика:&nbsp;</label>
                    </div>
                    <div class="info-item">
                        <label>&nbsp;&nbsp;vs. All:&nbsp;</label>@Model.StatsVsAll
                    </div>
                </div>
            </div>
            <div class="section section-matches col-md-5">
                @if (@Model.PlannedMatches.Any())
                {
                    <div class="matches col-md-12">
                        <label>Планируемые Матчи:&nbsp;</label>
                        @foreach (var match in @Model.PlannedMatches)
                        {
                            <div class="info-item">
                                <div class="date">@match.StartDateString</div>
                                @match.Player1.FullName vs. @match.Player2.FullName
                            </div>
                        }
                    </div>
                }

                @if (@Model.PlayedMatches.Any())
                {
                    <div class="matches col-md-12">
                        <label>Сыгранные Матчи:&nbsp;</label>
                        @foreach (var match in @Model.PlayedMatches)
                        {
                            <div class="info-item">
                                <div class="date">@match.StartDateTime.GetDateString(false)</div>
                                @match.Player1.FullName vs. @match.Player2.FullName:&nbsp;@match.MatchResultString(Model.GeneralInfo.Id)
                            </div>
                        }
                    </div>
                }

                @if (!@Model.PlannedMatches.Any() && !@Model.PlayedMatches.Any())
                {
                    <div>Нет данных</div>
                }
            </div>
        </div>
    </div>
}