@model Nop.Plugin.Misc.LLT.Models.Tournament.TournamentDetailsModel

@using Nop.Plugin.Misc.LLT.Enums
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Events
@using Nop.Services.Events
@{
    Html.AddScriptParts("~/Scripts/jquery.tmpl.min.js");
}
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.GeneralInfo.Id)

<div id="tournament-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            Информация
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            Игроки
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
            Матчи
        </li>
        <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
            Результаты
        </li>
    </ul>
    <div>
        @TabInfo()
    </div>
    <div>
        @TabPlayers()
    </div>
    <div>
        @TabMatches()
    </div>
    <div>
        @TabResults()
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#tournament-edit").kendoTabStrip({
            animation:  {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });

        initPlayersGrid();
        initMatchesGrid();
    });

    var lastRemovedMatchPlayers = {};
    var lastRemovedMatchPlayerIndeces = {};

    function genericDropDownEditor(container, options, dataSource) {
        $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                dataSource: dataSource,
                dataTextField: "Name",
                dataValueField: "Id"
            });
    }

    function playerDropDownEditor(container, options, dropDownId) {
        $('<input id="' + dropDownId + '" required data-text-field="FullName" data-value-field="Id" data-bind="value:' + options.field + '"/>')
        .appendTo(container)
        .kendoDropDownList({
            autoBind: false,
            optionLabel: "Select player...",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '/Players',
                        dataType: "json",
                        type: "POST",
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                requestEnd: function(e) {
                }
            },
            change: function(e) {
                filterTournamentMatchPlayersList(e.sender.wrapper);
            },
            select: null,
            dataBound: function(e) {
                filterTournamentPlayersList(e.sender.wrapper);
            },
            open: null
        });
    }

    function playerDropDownFiltered(container, options, dropDownId) {
        var select = $('<select id="' + dropDownId + '" class="player-select"></select>')
            .appendTo(container)
            .multipleSelect({
                filter: true,
                width: '100%',
                single: true,
                placeholder: "Выбор игрока",
                onClick: function (option) {
                    options.model[options.field] = parseInt(option.value);
                }
            })
            .closest('td').css('overflow', 'visible');

        $.ajax({
            url: '/Players',
            data: JSON.stringify({Model: {},Command: { Page: 0, PageSize: 0 }}),
            dataType: "json",
            type: "POST",
            contentType: 'application/json',
        }).done(function(response) {
            var optionsHtml = [];
            if (response.Data && response.Data.length) {
                response.Data.forEach(function(player) {
                    optionsHtml.push('<option value="' + player.Id + '">' + player.FullName + '</option>');
                });
            }
            $('#' + dropDownId).html(optionsHtml.join(''));
            $('#' + dropDownId).multipleSelect("refresh");
            $('#' + dropDownId).multipleSelect('setSelects', []);
        });
    }

    function filterTournamentPlayersList($dropDownWrapper) {
        if($dropDownWrapper.find('#tournamentPlayersList').length !== 1){
            return;
        }

        var currentPlayers = $("#tournament-players-grid").data('kendoGrid').dataSource.data();
        var listedPlayers = $('#tournamentPlayersList').data('kendoDropDownList').dataSource.data();

        currentPlayers.forEach(function(currentPlayer) {
            listedPlayers.forEach(function(listedPlayer) {
                if (listedPlayer && currentPlayer.dirty === false && currentPlayer.Id && listedPlayer.Id === currentPlayer.Id) {
                    listedPlayers.remove(listedPlayer);
                }
            });
        });
    }

    function filterTournamentMatchPlayersList($dropDownWrapper) {
        var currentListId = '';
        if($dropDownWrapper.find('#tournamentMatchPlayer1List').length === 1){
            currentListId = 'tournamentMatchPlayer1List';
        }
        else if($dropDownWrapper.find('#tournamentMatchPlayer2List').length === 1){
            currentListId = 'tournamentMatchPlayer2List';
        }

        if (!currentListId) {
            return;
        }

        var theOtherListId = currentListId === 'tournamentMatchPlayer1List' ? 'tournamentMatchPlayer2List' : 'tournamentMatchPlayer1List';
        var theOtherList = $('#' + theOtherListId).data('kendoDropDownList');
        var theOtherListPlayers = theOtherList.dataSource.data();

        if (lastRemovedMatchPlayers[theOtherListId]) {
            var index = lastRemovedMatchPlayerIndeces[theOtherListId] !== undefined ? lastRemovedMatchPlayerIndeces[theOtherListId] : 0;
            theOtherListPlayers.splice(index, 0, lastRemovedMatchPlayers[theOtherListId]);
        }

        var selectedValue = $('#' + currentListId).data('kendoDropDownList')._selectedValue;
        if (selectedValue.length === 0) {
            return;
        }

        var selectedId = parseInt(selectedValue);
        theOtherListPlayers.forEach(function(theOtherListPlayer, index) {
            if (theOtherListPlayer && theOtherListPlayer.Id === selectedId) {
                lastRemovedMatchPlayers[theOtherListId] = theOtherListPlayer;
                lastRemovedMatchPlayerIndeces[theOtherListId] = index;
                theOtherListPlayers.remove(theOtherListPlayer);
            }
        });
    }

    var playerLevels = [
        @{
            var levelValues = Enum.GetValues(typeof(PlayerLevel));
        }

        @for (int i = 0; i < levelValues.Length; i++)
        {
            var levelId = (int) levelValues.GetValue(i);
            var levelName = Enum.GetName(typeof(PlayerLevel), levelId);
            <text>
                { Id: @(levelId), Name: "@(levelName)" },
            </text>
        }
    ];

    var tournamentStages = [
        @{
            var stageValues = Enum.GetValues(typeof(TournamentStage));
        }

        @for (int i = 0; i < stageValues.Length; i++)
        {
            var stageId = (int)stageValues.GetValue(i);
            var stageName = Enum.GetName(typeof(TournamentStage), stageId);
            <text>
                { Id: @(stageId), Name: "@(stageName)" },
            </text>
        }
    ];

    var tournamentPlayers = [
        @for (int i = 0; i < Model.Players.Count; i++)
        {
            var player = Model.Players[i];
            <text>
                {
                    Id: @(player.Id),
                    Name: "@(Html.Raw(HttpUtility.JavaScriptStringEncode(player.FullName)))"
                }
            </text>
            if (i != Model.Players.Count - 1)
            {
                <text>,</text>
            }
        }
    ];

    function initPlayersGrid() {
        $("#tournament-players-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: function(e) {
                            return "@Html.Raw(Url.Action("PlayersList", "TournamentAdmin", new { tournamentId = Model.GeneralInfo.Id }))";
                        },
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    create: {
                        url: function(player) {
                            var url = "@Html.Raw(Url.Action("PlayerInsert", "TournamentAdmin", new { tournamentId = Model.GeneralInfo.Id }))" + '&playerId=' + player.Id;
                            return url;
                        },
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    destroy: {
                        url: function(player) {
                            var url = "@Html.Raw(Url.Action("PlayerDelete", "TournamentAdmin", new { tournamentId = Model.GeneralInfo.Id }))" + '&playerId=' + player.Id;
                            return url;
                        },
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: true, type: "number" },
                            FullName: { editable: true, validation: { required: true } },
                            LevelString: { editable: false },
                        }
                    }
                },
                requestEnd: function(e) {
                    if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                        this.read();
                    }
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            toolbar: ["create"],
            edit: function(e) {
                var a = 1;
            },
            save: function(e) {
                var a = 1;
            },
            cancel: function(e) {
                var a = 1;
            },
            dataBound: function(){
                $('#tournament-players-grid').find(".k-grid-edit").remove();
            },
            editable: "inline",
            scrollable: false,
            sortable: true,
            columns: [
                {
                    field: "Id",
                    title: "Игрок",
                    editor: function(container, options) {
                        playerDropDownEditor(container, options, 'tournamentPlayersList');
                    },
                    template: function(dataItem) {
                        return kendo.htmlEncode(dataItem.FullName);
                    },
                    width: 200
                },
                {
                    field: "LevelString",
                    title: "Уровень",
                    width: 200
                },
                {
                    command: ["destroy", "edit"],
                    width: 30
                }
            ]
        });
    }

    function initMatchesGrid() {
        $("#tournament-matches-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("MatchesList", "TournamentAdmin", new {tournamentId = Model.GeneralInfo.Id}))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    create: {
                        url: function(match) {
                            var url = "@Html.Raw(Url.Action("MatchInsert", "TournamentAdmin", new {tournamentId = Model.GeneralInfo.Id}))"
                                + '&player1Id=' + match.Player1 + '&player2Id=' + match.Player2 + '&result=' + (match.MatchResultDisplay || '') + '&stage=' + match.Stage;
                            return url;
                        },
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    update: {
                        url: function(match) {
                            var url = "@Html.Raw(Url.Action("MatchUpdate", "TournamentAdmin", new {tournamentId = Model.GeneralInfo.Id}))"
                                + '&matchId=' + match.Id + '&player1Id=' + match.Player1.Id + '&player2Id=' + match.Player2.Id + '&result=' + (match.MatchResultDisplay || '') + '&stage=' + match.Stage;
                            return url;
                        },
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    destroy: {
                        url: function(match) {
                            var url = "@Html.Raw(Url.Action("MatchDelete", "TournamentAdmin", new { tournamentId = Model.GeneralInfo.Id }))"
                                + '&matchId=' + match.Id;
                            return url;
                        },
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, type: "number" },
                            Player1: { },
                            Player2: { },
                            MatchResultDisplay: { editable: true, validation: {
                                required: false,
                                validation: function (input) {
                                    if (input.is("[name='MatchResultDisplay']") && input.val() != "") {
                                        var matchResultRegex = /^(\d\d?-\d\d?\s?)*$/;
                                        if (matchResultRegex.test(input.val())) {
                                            return true;
                                        }
                                        else {
                                            alert('Результат матча должен содержать как минимум результат одного сета (сет может быть неполным)');
                                            return false;
                                        }
                                    }
                                    return true;
                                }
                            }
                            },
                            Stage: { editable: true, type: "number" },
                            //StartDateString: { editable: true }
                        }
                    }
                },
                requestEnd: function(e) {
                    if (e.type == "create" || e.type == "update") {
                        this.read();
                    }
                },
                error: function(e) {
                    //display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            toolbar: ["create"],
            edit: function(e) {
                if (e.model.isNew()) {

                }
            },
            cancel: function(e) {
                var a = 1;
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "Id",
                    title: "Матч",
                    attributes: {
                        style: "display:none;"
                    },
                    headerAttributes: {
                        style: "display:none;"
                    },
                    width: 200
                },
                {
                    field: "Player1",
                    title: "Игрок 1",
                    editor: function(container, options) {
                        playerDropDownFiltered(container, options, 'tournamentMatchPlayer1List');
                    },
                    template: function(dataItem) {
                        return kendo.htmlEncode(dataItem.Player1.FullName);
                    },
                    width: 200
                },
                {
                    field: "Player2",
                    title: "Игрок 2",
                    editor: function(container, options) {
                        playerDropDownFiltered(container, options, 'tournamentMatchPlayer2List');
                    },
                    template: function(dataItem) {
                        return kendo.htmlEncode(dataItem.Player2.FullName);
                    },
                },
                {
                    field: "MatchResultDisplay",
                    title: "Результат",
                },
                {
                    field: "Stage",
                    title: "Стадия Турнира",
                    editor: function(container, options) {
                        genericDropDownEditor(container, options, tournamentStages);
                    },
                    template: function(matchModel) {
                        var stages = tournamentStages.filter(function(item, index) {
                            return item.Id == matchModel.Stage;
                        });
                        var stageDisplay = stages.length === 1? stages[0].Name : 'N/A';
                        return stageDisplay;
                    },
                },
                //{
                //    field: "StartDateString",
                //    title: "Дата",
                //},
                {
                    command: [
                        {
                            name: "edit",
                            text: "@T("Admin.Common.Edit")"
                        },
                        {
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }
                    ],
                }
            ]
        });
    }

</script>

@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

@helper TabInfo()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.GeneralInfo.Name):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GeneralInfo.Name)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.GeneralInfo.Type):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.GeneralInfo.Type, ((TournamentType)Model.GeneralInfo.Type).ToSelectList())
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.GeneralInfo.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GeneralInfo.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.GeneralInfo.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GeneralInfo.EndDate)
            </td>
        </tr>
    </table>
}
@helper TabPlayers()
{
if (Model.GeneralInfo.Id > 0)
{
        <div id="tournament-players-grid"></div>
}
else
{
        @T("Admin.Tournament.SaveBeforeEdit")
}
}
@helper TabMatches()
{
if (Model.GeneralInfo.Id > 0)
{
        <div id="tournament-matches-grid"></div>
}
else
{
        @T("Admin.Tournament.SaveBeforeEdit")
}
}
@helper TabResults()
{
if (Model.GeneralInfo.Id > 0)
{

}
else
{
        @T("Admin.Tournament.SaveBeforeEdit")
}
}