@model Nop.Plugin.Misc.LLT.Models.Tournament.TournamentDetailsModel
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = "Редактировать";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "tournament-form" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            Редактирование турнира - @Model.GeneralInfo.Name @Html.ActionLink("(вернуться к списку)", "List")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="Сохранить" />
            <input type="submit" name="save-continue" class="k-button" value="Сохранить и Продолжить редактировать" />
            <span id="tournament-delete" class="k-button">Удалить</span>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#tournament-delete').on('click', function () {
                var data = addAntiForgeryToken({});

                $.ajax({
                    url: "@Html.Raw(Url.Action("Delete", "TournamentAdmin", new { tournamentId = Model.GeneralInfo.Id }))",
                    data: data,
                    dataType: "json",
                    type: "POST",
                    }).done(function (response) {
                        window.location.href = "@Html.Raw(Url.Action("List", "TournamentAdmin"))";
                    });
            });
        });
    </script>

    @Html.Partial("_CreateOrUpdate", Model)
}
