@model TopMenuModel
@using Nop.Web.Models.Catalog;

<ul class="top-menu">
    @foreach (var topic in Model.Topics)
    {
        if (!string.IsNullOrEmpty(topic.SeName))
        {
            <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
        }
        else
        {
            <li><a href="@Url.RouteUrl("HomePage")">@topic.Name</a></li>
        }
    }
    @Html.Widget("header_menu_after")
</ul>
@{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $(this).siblings('.top-menu.mobile').slideToggle('slow');
            });
            $('.top-menu.mobile .sublist-toggle').click(function () {
                $(this).siblings('.sublist').slideToggle('slow');
            });
        });
    </script>
}



